<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,464},{98,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,185}</string>
            </dict>
            <key>image_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{77,141}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,141}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,868},{78,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{78,91}}</string>
                <key>sourceSize</key>
                <string>{78,185}</string>
            </dict>
            <key>image_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{77,141}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,141}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{82,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,185}</string>
            </dict>
            <key>image_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{82,143}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,143}}</string>
                <key>sourceSize</key>
                <string>{82,185}</string>
            </dict>
            <key>image_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{77,127}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{77,127}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{77,141}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,141}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,163},{19,127}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{19,127}}</string>
                <key>sourceSize</key>
                <string>{19,185}</string>
            </dict>
            <key>image_i0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,70},{17,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{17,91}}</string>
                <key>sourceSize</key>
                <string>{17,185}</string>
            </dict>
            <key>image_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,163}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,163}}</string>
                <key>sourceSize</key>
                <string>{66,185}</string>
            </dict>
            <key>image_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{75,137}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,137}}</string>
                <key>sourceSize</key>
                <string>{75,185}</string>
            </dict>
            <key>image_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,292},{15,141}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,141}}</string>
                <key>sourceSize</key>
                <string>{15,185}</string>
            </dict>
            <key>image_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,323},{139,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{139,91}}</string>
                <key>sourceSize</key>
                <string>{139,185}</string>
            </dict>
            <key>image_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{78,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{78,91}}</string>
                <key>sourceSize</key>
                <string>{78,185}</string>
            </dict>
            <key>image_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,230},{82,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,185}</string>
            </dict>
            <key>image_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{77,135}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{77,135}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{77,135}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{77,135}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{55,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{55,91}}</string>
                <key>sourceSize</key>
                <string>{55,185}</string>
            </dict>
            <key>image_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,749},{63,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{63,93}}</string>
                <key>sourceSize</key>
                <string>{63,185}</string>
            </dict>
            <key>image_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,690},{57,117}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{57,117}}</string>
                <key>sourceSize</key>
                <string>{57,185}</string>
            </dict>
            <key>image_tone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,435},{64,9}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{64,9}}</string>
                <key>sourceSize</key>
                <string>{98,185}</string>
            </dict>
            <key>image_tone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,970},{50,35}}</string>
                <key>offset</key>
                <string>{24,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{98,185}</string>
            </dict>
            <key>image_tone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,814},{64,33}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{98,185}</string>
            </dict>
            <key>image_tone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,970},{50,35}}</string>
                <key>offset</key>
                <string>{-24,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{98,185}</string>
            </dict>
            <key>image_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,814},{77,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{77,125}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{77,125}}</string>
                <key>sourceSize</key>
                <string>{77,185}</string>
            </dict>
            <key>image_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,559},{129,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{129,93}}</string>
                <key>sourceSize</key>
                <string>{129,185}</string>
            </dict>
            <key>image_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,137},{82,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,185}</string>
            </dict>
            <key>image_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{83,133}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{83,133}}</string>
                <key>sourceSize</key>
                <string>{83,185}</string>
            </dict>
            <key>image_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,893},{75,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{75,91}}</string>
                <key>sourceSize</key>
                <string>{75,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pysf.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ec55f24031935b08338f6a6e9a1e034:1/1$</string>
            <key>textureFileName</key>
            <string>pysf.png</string>
        </dict>
    </dict>
</plist>
